#img {
  position:relative;
  left:600px;
}

#button_move {
  position:relative;
  margin-top:10px;
  top:10px;
}

#move-para {
  position:relative;
  top:100px;
}

#move-check {
  margin-bottom:20px;
}

#btn-move {
  position:relative;
  border-radius:0;
  left:400px;
  top:20px;
}

#move-card {
  margin-top:20px;
}

